<div class="aligner main-div">  
  <mat-card class="aligner-center-item">
    <mat-card-content>
      <form id="reset-password-form" #lForm="ngForm" [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPassword()" novalidate>
        <mat-form-field style="width: 100%;" [ngClass]="{'mat-input-invalid': submitted && error?.code == 2}">
          <input matInput type="password" formControlName="password" placeholder="Old Password" autocomplete="on"/>
          <!-- <mat-hint style="color: red;" *ngIf="submitted && error?.code == 2">{{error.message}}</mat-hint> -->
          <mat-error style="color: red;" *ngIf="f.password.hasError('required')">Field is mandatory</mat-error>
        </mat-form-field>
        <mat-form-field style="width: 100%;" [ngClass]="{'mat-input-invalid': submitted && error?.code == 2}">
          <input matInput type="password" formControlName="newPassword" placeholder="New Password" autocomplete="on" (input)="onPasswordInput()"/>
          <!-- <mat-hint style="color: red;" *ngIf="submitted && error?.code == 2">{{error.message}}</mat-hint> -->
          <mat-error style="color: red;" *ngIf="f.newPassword.hasError('required')">Field is mandatory</mat-error>
        </mat-form-field>
        <mat-form-field style="width: 100%;" [ngClass]="{'mat-input-invalid': submitted && error?.code == 2}">
          <input matInput type="password" formControlName="confirmNewPassword" placeholder="Confirm New Password" autocomplete="on" (input)="onPasswordInput()"/>
          <!-- <mat-hint style="color: red;" *ngIf="submitted && error?.code == 2">{{error.message}}</mat-hint> -->
          <mat-error style="color: red;" *ngIf="f.confirmNewPassword.hasError('required')">Field is mandatory</mat-error>
          <mat-error *ngIf="f.confirmNewPassword.invalid && !f.confirmNewPassword.hasError('required')">Passwords don't match</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions style="padding: 15px;">   <!-- style="justify-content: center; text-align: right; width: 100%;" -->
      <button mat-raised-button type="submit" form="reset-password-form" style="width: 100%;"> Reset Password</button>
    </mat-card-actions>
  </mat-card>  
  </div>
