<div class="aligner main-div">  
    <!-- [ngStyle]="{'background-image': 'url(http://portal-test.fonua.com/Content/Themes/img/Welcome-Grey.png)'}"> -->
  <mat-card class="aligner-center-item">
    <!-- <mat-card-title>
      Login Form
    </mat-card-title> -->

    <mat-card-content>
      <form id="login-form" #lForm="ngForm" [formGroup]="loginForm" (ngSubmit)="submitLogin()" novalidate>
        <mat-form-field style="width: 100%; margin-bottom: 10px;" [ngClass]="{'mat-input-invalid': submitted && error?.code == 1}">
          <input class="form-control ng-pristine ng-invalid ng-untouched" matInput type="text" formControlName="username" placeholder="Username" autocomplete="on"/>
          <mat-hint style="color: red;" *ngIf="submitted && error?.code == 1">{{error.message}}</mat-hint>    <!--&& !loginForm.controls.password.hasError('required') -->
          <mat-hint style="color: red;" *ngIf="submitted && loginForm.controls.username.hasError('required')">Field is mandatory</mat-hint>
        </mat-form-field>
        <mat-form-field style="width: 100%;" [ngClass]="{'mat-input-invalid': submitted && error?.code == 2}">
          <input matInput type="password" formControlName="password" placeholder="Password" autocomplete="on"/>
          <mat-hint style="color: red;" *ngIf="submitted && error?.code == 2">{{error.message}}</mat-hint>    <!--&& !loginForm.controls.password.hasError('required') -->
          <mat-hint style="color: red;" *ngIf="submitted && loginForm.controls.password.hasError('required')">Field is mandatory</mat-hint>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions style="padding: 15px;">   <!-- style="justify-content: center; text-align: right; width: 100%;" -->
      <button mat-raised-button type="submit" form="login-form" style="width: 100%;"> Sign In</button>
    </mat-card-actions>

    <div class="col-6">
      <a href="#" class="text-light"><small>Forgot password?</small></a>
    </div>

  </mat-card>  
</div>

<div id="footer" class="footer-div"> 
  <mat-card class="aligner-center-item" style="justify-content: center; background-color: black; border-radius: 10px;">
    <div class="address">
      <p style="display:inline;margin:11px 0 0 0;padding:0px; color: white;">
        Cairn House, South County Business Park, Leopardstown, Dublin 18, Ireland
      </p>
    </div>
  </mat-card>
</div>

